body {
    margin: 8px;
}

section {
    margin: 3px;
    padding: 5px;
    background-color: aliceblue;
    border-color: blue;
    border-style: solid;
    border-width: 3px;
}

article {
    margin: 3px;
    padding: 5px;
    background-color: aquamarine;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 0 5px;
}

nav ul li a {
    text-decoration: none;
}